body {
  background-color: #d9cbca;
  font-family: 'Baloo Tammudu 2', cursive;
  color:  #333333;
}

h1, h2 {
  text-align: center;

}

p {
  font-size: 1.3rem;
}

hr {
  width: 30%;
}

.usage {
  text-align: center;
  font-size: 1.1rem;

}
